@font-face {
    font-family: 'texgyrebonum';
    src: url('../../assets/fonts/texgyrebonum/texgyrebonum.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/texgyrebonum/texgyrebonum.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/texgyrebonum/texgyrebonum.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/texgyrebonum/texgyrebonum.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/texgyrebonum/texgyrebonum.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/texgyrebonum/texgyrebonum.svg#texgyrebonum') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
