@import 'variables', 'fonts';

#header{
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    #banner{
      height: 60%;
      width: 100vw;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        max-width: 1000px;
        width: 95%;
      }
    }
    #difficulty-meter{
      height: 40%;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      h2{
        display: inline-block;
        text-align: center;
        font-size: $very-large-text;
      }
      @media only screen and (max-width: 760px) {
        h2 {
          font-size: $user-text;
        }
      }
    }
  }