@font-face {
  font-family: 'texgyrebonum';
  src: url("../../assets/fonts/texgyrebonum/texgyrebonum.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/texgyrebonum/texgyrebonum.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/texgyrebonum/texgyrebonum.woff2") format("woff2"), url("../../assets/fonts/texgyrebonum/texgyrebonum.woff") format("woff"), url("../../assets/fonts/texgyrebonum/texgyrebonum.ttf") format("truetype"), url("../../assets/fonts/texgyrebonum/texgyrebonum.svg#texgyrebonum") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

#header {
  height: 25vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header #banner {
  height: 60%;
  width: 100vw;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #banner img {
  max-width: 1000px;
  width: 95%;
}

#header #difficulty-meter {
  height: 40%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

#header #difficulty-meter h2 {
  display: inline-block;
  text-align: center;
  font-size: 1.563rem;
}

@media only screen and (max-width: 760px) {
  #header #difficulty-meter h2 {
    font-size: 1rem;
  }
}

@font-face {
  font-family: 'texgyrebonum';
  src: url("../../assets/fonts/texgyrebonum/texgyrebonum.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/texgyrebonum/texgyrebonum.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/texgyrebonum/texgyrebonum.woff2") format("woff2"), url("../../assets/fonts/texgyrebonum/texgyrebonum.woff") format("woff"), url("../../assets/fonts/texgyrebonum/texgyrebonum.ttf") format("truetype"), url("../../assets/fonts/texgyrebonum/texgyrebonum.svg#texgyrebonum") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  background-image: url("../../assets/images/paper-background.jpg");
  background-blend-mode: lighten;
  background-size: cover;
  font-size: 100%;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: texgyrebonum;
}

* p {
  color: #000000;
  font-size: 0.938rem;
}

* h1 {
  font-size: 3.75rem;
}

* select {
  font-size: 0.938rem;
}

* label {
  font-size: 0.938rem;
}

@media only screen and (max-width: 760px) {
  * p {
    font-size: 0.625rem;
  }
  * select {
    font-size: 0.625rem;
  }
  * label {
    font-size: 0.625rem;
  }
}
/*# sourceMappingURL=style.css.map */